{% extends 'base.html.twig' %}

{% block title %}Franciscus Material Management{% endblock %}

{% block main %}
    <main>
        <h1>Franciscus Material Management</h1>

        Hier komt het inlog formulier.
    </main>
{% endblock %}
