<form method="post" action="{{ path('reservation_delete', {'slug': reservation.slug}) }}" onsubmit="return confirm('Weet je zeker dat je dit wil verwijderen?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reservation.slug) }}">
    <button class="btn">Verwijderen</button>
</form>
