{% extends 'base.html.twig' %}

{% block title %}Materiaal lijst{% endblock %}

{% block main %}
    {% include '/partials/header.html.twig' %}

    <main class="container">
        <h1>Materiaallijst</h1>

        {% if app.request.attributes.get('_route') != 'material_list_pdf' %}
            <button class="btn btn-primary form-inline">Search</button>
            <button class="btn btn-primary form-inline">Filter</button>
            <a class="btn btn-primary form-inline" href="{{ path('material_list_pdf') }}">Download als PDF</a>
        {% endif %}

        {% for material in materials %}
            {% include '/material/partials/material.html.twig' %}
        {% endfor %}
    </main>
{% endblock %}
