{% extends 'base.html.twig' %}

{% block title %}Materiaal lijst{% endblock %}

{% block main %}
    {% include '/partials/header.html.twig' %}

    <main class="container">
        <h1>Materiaallijst</h1>

        <div>Search</div>
        <div>Filter</div>

        {% for item in items %}
            {% include '/material/partials/item.html.twig' %}
        {% endfor %}
    </main>
{% endblock %}
