/**
 * Layout
 * All the CSS that handles the layout, such as the container and any grid systems.
 */

dl.stats-details {

  dt {
    display: inline;
  }

  dd {
    display: inline;
  }
}

.progress {
  height: 20px;

  a {
    color: white;
    text-decoration: underline;
  }
}
