{% extends '@!EasyAdmin/page/content.html.twig' %}

{% block content %}
    <section>
        <h3>Totale aankoopwaarde:</h3>
        {{ material_totals.value|format_currency('EUR') }}
        <hr>
        <h3>Berekende huidige waarde:</h3>
        {{ material_totals.current_value|format_currency('EUR') }}
    </section>
{% endblock %}
